.title {
  text-align: center;
}

div.score {
  font-size: 3em;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 25px;
}

footer.foot {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-bottom: 10px;
}

/* Facebook buttons */
#fbLoginButton {
  width: 14em;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;

  margin: 1em auto;

  padding-left: 0;
  padding-right: 0;
}

#fbLoginButton > img{
  width: 40px;
}

#fbShareButton, #fbLoginButton {
  background-color: #4267B2;
}

/* Phrases and word input */
#staticWords {
  background-color: transparent;
  border-right: 0;
  padding-right: 0;

  -webkit-box-shadow: inset 0 2px 1px -1px rgba(0,0,0,.075);
  box-shadow: inset 0 2px 1px -1px rgba(0,0,0,.075);
}

#wordInput {
  border-left: 0;
  padding-left: 0.5em;
  -webkit-box-shadow: inset 0 2px 1px -1px rgba(0,0,0,.075);
  box-shadow: inset 0 2px 1px -1px rgba(0,0,0,.075);
}

